.menu-items{
    list-style: none;
    display:flex;
    gap: 1rem;
    .menu-item{
        cursor: pointer;
    }
}

.top{
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
}
.show{
    background-color: var(--black3);
}
.hide{
    transform: translateY(-100%);
}